body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

@font-face {
    font-family: LeagueScript;
    src: url("fonts/League_Script/LeagueScript-Regular.ttf");
  }

h1 {
    font-family: LeagueScript;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 80px;
}

h2 {
  font-family: verdana;
  font-weight: 20;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

p {
    font-family: verdana;
    font-size: 16px;
  }

ol {
    font-family: verdana;
    font-size: 16px;
  }


.topnav {
  background-color: #af867eaf;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: verdana;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #56949fc2;
  color: white;
}