body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: Baskervville;
  src: url("fonts/Baskervville/Baskervville-VariableFont_wght.ttf");
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 80px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 20;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

p.center_font {
  text-align: center;
}

ol {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}


.topnav {
  background-color: #3f3c37af;
  overflow: hidden;  
  position: fixed;
  top: 0;
  left: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3f3c37af;
  color: white;
}